@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Bodoni:ital,wght@1,700&family=Rubik:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #f6a192;
    --secondary-color: #f6b092;
    --tertiary-color: #f6c492;
    --accent-color-light: #f6d992;
    --accent-color-dark: #e36551;
    --shadow: #fbe9e1;
    
}

.body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

.wrapper{
    min-height: 100%;
  }

 .saved-list{
    background-color: var(--shadow);
 } 

/* HEADER STYLING STARTS */
header {
    padding: 16px 28px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 6px 21px var(--shadow);
}

header h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 6px 0;
}

header nav ul {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 8px 16px;
    font-weight: lighter;
    font-size: 25px;
}

header h1 a:hover{
    color: var(--accent-color-dark);
}

header nav ul li a:hover {
    color: var(--accent-color-light);
}
/* HEADER STYLING ENDS*/

/* CATEGORY HEADER */
.category-heading{
    color: var(--accent-color-dark);
    text-align: center;
    margin: 40px;
    font-size: 143px;
    font-family: 'Libre Bodoni', serif;
}

.fade-in{
    animation: fade-in ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-delay{
    animation: fade-in ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.category-icons{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.bounce-in {
    animation: bounce-in .5s ease;
    
    animation-fill-mode: both;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }

.icon {
    color: var(--primary-color);
    font-size: 64px;
    padding: 80px;
    text-align: center;
    cursor: pointer;
}

.icon:hover{
    color: var(--accent-color-dark);
}

/* SPOT CARDS */
main{
    background-color: var(--shadow);
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    padding-bottom: 79px;
}

#spot-cards{
    display: flex;
    margin: 8px;
    margin-top: 16px;
   justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 48px;
}

.spot-card{
    background-color: white;
    max-width: 436px;
    margin: 16px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 1px 1px 5px var(--tertiary-color);
    flex-grow: 1;
}

.img-wrapper{
    max-height: 444px;
}

/* requires square images from internet */
img {
    border-radius: 3000px;
    width: 80%;
    max-height: 714px;
    margin: 31px 31px 31px 40px;
    object-fit: fill;
}

.add-btn{
    border-radius: 1000px;
    border: none;
    background-color: var(--secondary-color);
    max-width: 79px;
    max-height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -99px;
    left: 277px;
    padding: 31px;
}

.add-btn:hover{
    background-color: var(--accent-color-dark);
    cursor: pointer;
}

.remove-btn{
    border-radius: 1000px;
    border: none;
    background-color: var(--secondary-color);
    max-width: 79px;
    max-height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -99px;
    left: 277px;
    padding: 31px;
}

.remove-btn:hover{
    background-color: var(--accent-color-light);
    cursor: pointer;
}

/* with react, add function to add popout class when button is clicked, and a function to add hide class (set inteval to 1.5s delay so that popout animation occurs first) */
.popout {
    animation: popout 1.5s ease;
    animation-fill-mode: both;
    
}
@keyframes popout {
    0%{transform:scale(0)}
    80%{transform:scale(1.05)}
    100%{transform: scale(0)}
}


.add-icon{
    color: white;
    font-size: 40px;
    padding: 31px;
}

.add-icon:hover{
    color: var(--secondary-color);
}

.location{
    font-size: 24px;
}

.card-text{
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 16px;
}

.description{
    font-weight: 300;
    margin-top: 6px;
    font-size: 18px;
    margin-bottom: 8px;
    flex-grow: 1;
}

.treat{
    font-size: 19px;
    margin-bottom: 16px;
}

.treat-answer{
    font-weight: 300;
}

.climate{
    margin-top: 12px;
    font-size: 19px;
    margin-bottom: 4.2px;
}

.climate-answer{
    font-weight: 300;
}

footer {
    position: relative;
    margin-top: -79px;
    height: 79px;
    clear: both;
    background-color: var(--primary-color);
    color: white;
  }
  
  #footer-wrapper{
    display: flex;
    justify-content: space-between;
  }
 footer h4 {
    font-size: 23px;
    padding-top: 24px;
    padding-left: 16px;
 }

 footer h3{
    text-align: end;
    font-size: 23px;
    padding-top: 24px;
    padding-right: 16px;
 }

 .entry-page{
    background-color: white;
    height: 100vh;
    width: 100vw;
 }

 #entry-title{
    color: var(--accent-color-dark);
    font-size: 79px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding-top: 72px;
 }

 .entry-content-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 79px;
    font-size: 26px;
    text-align: center;
    padding: 43px;
    color: var(--accent-color-dark);
 }
 input{
    font-size: 25px;
    padding: 5px;
    margin: 8px;
    border-radius: 12px;
    border-color: var(--accent-color-dark);
    border-width: 4px;
 }

 #login-wrapper{
    margin-bottom: 79px;
 }

 .entry-btn{
    height: 79px;
    width: 79px;
    border-radius: 100px;
    border: none;
    margin: 24px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
 }

 .entry-btn:hover{
    background-color: var(--accent-color-dark);
    cursor: pointer;
}

.arrow:hover{
    color: white;
}

 .entry-heading{
    margin-bottom: 16px;
 }

 @media screen and (max-width: 1500px) {
     .icon {
    color: var(--primary-color);
    font-size: 55px;
    padding: 48px;
    text-align: center;
}
.category-heading {
    font-size: 96px;
       }
}

@media screen and (max-width: 1130px) {
  header h1{
    font-size: 40px;
  }
  header nav ul li a {
    font-size: 21.6px;
  }
}

@media screen and (max-width: 980px) {
    .body {
        overflow-x: hidden; }
        .icon {
            color: var(--primary-color);
            font-size: 48px;
            padding: 31px;
            text-align: center;
        }
        .category-heading {
            font-size: 67px;
               }

        header{
            flex-direction: column;
            position: static;
        } 
        header nav ul li a {
            padding: 8px 6px;
            font-weight: lighter;
            font-size: 23px;
        }      
}

@media (max-width: 768px) {
    .icon {
        color: var(--primary-color);
        font-size: 40px;
        padding: 28px;
        text-align: center;
    }
    .category-heading {
        font-size: 55px;
           }
           
}

@media screen and (max-width: 630px) {
    .remove-btn, .add-btn{
        border-radius: 1000px;
        border: none;
        background-color: var(--secondary-color);
        max-width: 64px;
        max-height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -21%;
        left: 65%;
        padding: 31px;
    }
    .category-heading {
        font-size: 52px;
           }
}

@media screen and (max-width: 545px) {
    header nav ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    /* ENTRY PAGE */
    .entry-page{
        height: 792px;
    }
    #entry-title{
        font-size: 28px;
    }

    .entry-content-wrapper{
        margin: 40px;
        font-size: 19px;
        text-align: center;
        padding: 12px;
        color: white;
     }
     input{
        font-size: 16px;
        padding: 2px;
        margin: 2px;
        border-radius: 8px;
        border-color: var(--accent-color-dark);
        border-width: 2px;
     }
    
     #login-wrapper{
        margin-bottom: 24px;
     }

    .entry-btn{
        height: 31px;
        width: 31px;
        margin: 16px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40%;
     }
     .icon {
        font-size: 31px;
        padding: 16px;
    }

    .arrow {
        font-size: 16px;
        padding: 16px;
    }

    /* SPOT CARDS */
    .remove-btn, .add-btn{
        border-radius: 1000px;
        border: none;
        background-color: var(--secondary-color);
        max-width: 55px;
        max-height: 91px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -21%;
        left: 65%;
        padding: 31px;
    }

    img {
        margin: 31px 16px 8px 25px;
    }

    .img-wrapper{
        max-height: 412px;
    }

    /* Footer */
    footer h4 {
        font-size: 14px;
        padding-top: 14px;
        padding-left: 7px;
     }
    
     footer h3{
        text-align: end;
        font-size: 14px;
        padding-top: 14px;
        padding-right: 7px;
     }

     footer {
        position: relative;
        margin-top: -48px;
        height: 48px;
        clear: both;
        background-color: var(--primary-color);
        color: white;
      }

      main{
        padding-bottom: 48px;
    }

    header h1{
        font-size: 31px;
      }
}